<!DOCTYPE html>
<html>
<head>

    <title>ICrowd Web Application | Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

    <div class="container logo-container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar" id="nav_bar" role="navigation">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle navbar_icon" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span> 
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1 class="logo-div">
                            <a href="/">ICrowd Web Application</a>
                        </h1>
                    </div>



                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
                            <li style="padding-right: 50px;">
                                <h2 class="reg-div">
                                    <a href="/photos">
                                        Photos
                                    </a>
                                </h2>
							</li>
							<li style="padding-right: 50px;">
                                <h2 class="reg-div">
                                    <a href="/nlp">
                                        NLP
                                    </a>
                                </h2>
							</li>
							<li style="padding-right: 50px;">
                                <h2 class="reg-div">
                                    <a href="/logout">
                                        Logout
                                    </a>
                                </h2>
							</li>
                        </ul>
					</div>

                </nav>
            </div>
		</div>
	</div>
	
	<hr class="mt-2 mb-5">
	
	
	<h2 class="text-center" style="color: black;">NLP</h2>
	<div class="container" style="text-align: center;">
		<form>
			<div class="input-group">
				<input type="text" id="test-sentiment" placeholder="Enter URL Here...." class="form-control"/>
				<span class="input-group-btn">
					<button class="btn btn-primary" id="handleClick">Submit</button>
				</span>
			</div>
		</form>
		
		<p style="color: black;">Polarity: <span id="text_polarity"></span> </p>
		<p style="color: black;">Subject: <span id="text_subjectivity"></span> </p>
		<p style="color: black;">Polarity Confidence: <span id="text_polarity_confidence"></span> </p>
		<p style="color: black;">Subjective Confidence: <span id="text_subjectivity_confidence"></span> </p>
	</div>

		
	<script src="plugins/jquery/jquery.min.js"></script>
	<script>
		
		let btn = $("#handleClick");
		
		btn.on('click', function(event) {
			event.preventDefault();
			
			let url  = $('#test-sentiment');
			fetch("/nlp/fetch", {
				method: "POST",
				mode: "cors",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({ url: url.val() })
			})
			.then(res => res.json())
			.then(data => {
				document.getElementById("text_polarity").innerHTML = data.polarity;
				document.getElementById("text_subjectivity").innerHTML = data.subjectivity;
				document.getElementById("text_polarity_confidence").innerHTML = data.polarity_confidence;
				document.getElementById("text_subjectivity_confidence").innerHTML = data.subjectivity_confidence;
			});
				
		});
	</script>
	
	
</body>	
</html>